@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
		padding: 0;
		margin: 0;
		border-sizing: border-box;
		list-style: none;
		scroll-behavior: smooth;
		text-decoration: none;
}

:root {
		--text-color: #e5f0df;
		--hover-color: #faa9fc;
		--bg-color: #250821;
		--secon-bg-color: gray;
		--big-font: 2.5rem;
		--normal-font: 2rem;
		--neon-box-shadow: 0 0 .5rem seagreen;
		--h2-font: 3rem;
		--font-neon-text-shadow: 0 0 10px rgba(10, 245, 255, 0.3),
		0 0 20px rgba(10, 245, 255, 0.3),
		0 0 30px rgba(10, 245, 255, 0.3),
		0 0 40px rgba(10, 245, 255, 0.3),
		0 0 70px rgba(10, 245, 255, 0.3),
		0 0 90px rgba(10, 245, 255, 0.3),
		0 0 100px rgba(10, 245, 255, 0.3),
		0 0 150px rgba(10, 245, 255, 0.3);
}

body {
		font-family: "Libre Baskerville", serif;
		background-color: var(--bg-color);
		color: var(--text-color);
}

header {
		display: flex;
		align-items: cenrer;
		justify-content: space-between;
		width: 100%;
		padding: 20px 40px;
}

.logo {
		font-size: 22px;
		font-weight: 700;
		letter-spacing: 1px;
		margin-top: -13px;
}

.navlist {
		display: flex;
}

.navlist a {
		color: var(--text-color);
		font-weight: 500;
		padding: 10px 20px;
}

.navlist a:hover {
		color: var(--hover-color)
		text-shadow: 0 0 10px rgba(10, 245, 255, 0.5),
		0 0 20px rgba(10, 245, 255, 0.5),
		0 0 30px rgba(10, 245, 255, 0.5),
		0 0 40px rgba(10, 245, 255, 0.5),
		0 0 70px rgba(10, 245, 255, 0.5),
		0 0 90px rgba(10, 245, 255, 0.5),
		0 0 100px rgba(10, 245, 255, 0.5),
		0 0 150px rgba(10, 245, 255, 0.5);
}

span {
		color: var(--hover-color);
}

#menu-icon {
		font-size: 1.8rem;
		z-index: 1001;
		cursor: pointer;
		margin-left: 15px;
		background: var(--hover-color);
		border-radius: 3px;
		color: var(--secon-bg-color);
		display: none;
}

