@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;0,800;0,900;0,1000;0,1100;01,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
    --text-color: #e5f0df;
    --hover-color: #83fcec;
    --bg-color: #250325;
    --secon-bg-color: rgb(28, 94, 83);
    --big-font: 2.5rem;
    --normal-font: 2rem;
    --neon-box-shadow: 0 0 .5rem rgb(244, 247, 66);
    --h2-font: 3rem;
    --font-neon-text-shadow: 0 0 10px rgba(10, 245, 255, 0.3),
        0 0 20px rgba(10, 245, 255, 0.3),
        0 0 30px rgba(10, 245, 255, 0.3),
        0 0 40px rgba(10, 245, 255, 0.3),
        0 0 70px rgba(10, 245, 255, 0.3),
        0 0 90px rgba(10, 245, 255, 0.3),
        0 0 100px rgba(10, 245, 255, 0.3),
        0 0 150px rgba(10, 245, 255, 0.3);
}

::-webkit-scrollbar {
    height: 0;
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: var(--secon-bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--hover-color);
    border-radius: 8rem;
}

body {
    font-family: "Libre Baskerville", serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

header.sticky{
    background: #25032560;
    border-bottom: 1px solid yellow;
}

.logo {
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 20px;
}

.navlist a:hover {
    color: red;
    background: greenyellow;
    box-shadow: 2px 2px 10px rgba(253, 237, 14, 0.9),
        0 0 20px rgba(253, 237, 14, 0.902),
        0 0 40px rgba(253, 237, 14, 0.9),
        0 0 30px rgba(253, 237, 14, 0.9),
        0 0 70px rgba(253, 237, 14, 0.9),
        0 0 90px rgba(253, 237, 14, 0.9),
        0 0 100px rgba(253, 237, 14, 0.9),
        0 0 150px rgba(253, 237, 14, 0.9);
}

.navlist a.active {
    color: red;
    text-decoration: underline;
}

span {
    color: var(--hover-color);
    font-size: var(--big-font);
}

#menu-icon {
    font-size: 1.8rem;
    z-index: 999;
    cursor: pointer;
    margin-left: 15px;
    background: var(--hover-color);
    border-radius: 3px;
    color: var(--secon-bg-color);
    display: none;
}

section {
    padding: 100px 10%;
}

.home {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4em;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: var(--big-font);
    font-weight: 600;
}

.change-text {
    font-size: 1rem;
    font-weight: 600;
}

.change-text h3 {
    display: inline-flex;
    margin: 0px;
    vertical-align: top;
    font-weight: 600;
    font-size: 1.9rem;
}

.change-text h3 .word {
    position: absolute;
    display: flex;
    opacity: 0;
}

.change-text h3 .word .letter {
    transform-origin: center center 25px;
}

.change-text h3 .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.change-text h3 .word .letter.in {
    transition: 0.38s ease;
}

.change-text h3 .word .letter.behind {
    transform: rotateX(-90deg);
}

.home-content p {
    color: #946b8e;
    line-height: 1.5;
    margin-top: 30px;
    font-size: small;
}

.info-box {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 0.5rem 0 2rem;
}

.info-box h5 {
    font-weight: 600;
    color: var(--text-color);
    font-size: 1.2rem;
}

.info-box a {
    font-size: 0.4;
    color: rgb(255, 34, 5);
}

.btn-box {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 45px;
}

.btn-box .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--hover-color);
    color: var(--bg-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid greenyellow;
}

.btn:hover {
    color: var(--hover-color);
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .3s;
}

.btn:hover::before {
    width: 100%;
}

.btn:nth-child(2) {
    background: var(--bg-color);
    color: var(--hover-color);
}

.btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn:nth-child(2)::before {
    background: var(--hover-color);
}

.social-icon {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 40px;
}

.social-icon a {
    display: inline-flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    color: var(--hover-color);
    border: 3px solid var(--hover-color);
    transition: .6s;
    box-shadow: 0 0 0.5rem #0ff8f8;
    border-radius: 8px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.social-icon a i {
    font-size: 2rem;
}

.social-icon a:hover {
    color: red;
    background: greenyellow;
    box-shadow: 2px 2px 10px rgba(253, 237, 14, 0.9),
        0 0 20px rgba(253, 237, 14, 0.902),
        0 0 40px rgba(253, 237, 14, 0.9),
        0 0 30px rgba(253, 237, 14, 0.9),
        0 0 70px rgba(253, 237, 14, 0.9),
        0 0 90px rgba(253, 237, 14, 0.9),
        0 0 100px rgba(253, 237, 14, 0.9),
        0 0 150px rgba(253, 237, 14, 0.9);
}

.home-img {
    position: relative;
}

.img-box {
    text-align: center;
}

.img-box img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.liquade-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 10%;
}

.liquade-shape:nth-child(2) {
    filter: blur(80px);
}

/* about section css ----------------- */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2em;
    background: var(--secon-bg-color);
}

.about .img-about {
    text-align: center;
    position: relative;
}

.about .img-about {
    max-width: 500px;
    height: auto;
}

.about-content span {
    color: rgb(247, 250, 69);
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-content h2 {
    color: var(--hover-color);
    font-weight: 700;
    font-size: var(--normal-font);
}

.about-content h3 {
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.about-content p {
    margin-bottom: .5rem;
}

.info-about1,
.info-about2,
.info-about3 {
    background: var(--bg-color);
    font-size: .5rem;
    position: absolute;
    padding: 15px;
    width: 100px;
    height: 80px;
    border-radius: 30% 40% 40% 30% / 60% 60% 30% 30%;
    display: block;
    box-shadow: var(--neon-box-shadow);
    /* border: 2px solid var(--hover-color); */
    outline: 3px solid rgb(241, 226, 177);
    outline-offset: 2px;
    z-index: 100;
    animation: morph 5s linear infinite;

}

.info-about1 {
    left: 5%;
    top: 36%;
}

.info-about2 {
    left: 70%;
    top: 18%;
}

.info-about3 {
    left: 80%;
    top: 68%;
}

.img-about span {
    color: var(--hover-color);
}

/* services section css ----------------- */
.main-text {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--hover-color);
}

.main-text h2 {
    font-weight: 700;
    margin-top: 10px;
    font-size: var(--normal-font);
}

.main-text span {
    color: rgb(229, 233, 14);
    font-size: .9rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.section-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 2rem;
}

.section-services .service-box {
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: var(--secon-bg-color);
    translate: transform .4s;
    border-radius: 10px;
}

.service-btn {
    width: auto;
    justify-content: center;
}

.service-box:hover {
    transform: translateY(-.7rem);
}

.service-icon {
    border: 1px solid var(--hover-color);
    padding: 2rem;
    background: var(--bg-color);
    align-items: center;
    align-content: center;
    font-size: 3rem;
    border-radius: 50%;
    position: relative;
    color: var(--hover-color);
    box-shadow: var(--neon-box-shadow);
    outline: 3px solid var(--bg-color);
}

.service-box h3 {
    margin-top: 20px;
    font-size: 1.5rem;
}

.service-box p {
    margin: .5rem 0 1.5rem 0;
    font-weight: 300;
    letter-spacing: 1px;
    color: burlywood;
    line-height: 1.6;
}



/* skills section css ----------------- */
.skills {
    background: rgb(66, 66, 63);
}

.skill-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 50px;
}

.skill-bar {
    margin-bottom: 2.3rem;
}

.skill-main h3 {
    margin-bottom: 2rem;
    font-size: var(--normal-font);
    text-align: center;
}

.skill-left .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill-left .skill-bar .bar {
    width: 100%;
    height: 10px;
    background-color: var(--bg-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skill-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--hover-color);
    border-radius: 25px;
    box-shadow: var(--neon-box-shadow);
}

.skill-bar .bar .html {
    width: 98%;
    animation: html 2s;
}

.skill-bar .bar .css {
    width: 87%;
    animation: css 3s;
}

.skill-bar .bar .js {
    width: 90%;
    animation: js 4s;
}

.skill-bar .bar .figma {
    width: 95%;
    animation: figma 5s;
}

.skill-bar .bar .react {
    width: 89%;
    animation: react 6s;
}

.skill-bar .bar .py {
    width: 78%;
    animation: py 6s;
}




/* portfolios section css ----------------- */

.fillter-buttons {
    margin: 2rem;
    text-align: center;
}

.fillter-buttons .btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin-left: 1.3rem;
    color: var(--h2-font);
}

.fillter-buttons .btn:hover {
    color: var(--hover-color);
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 2rem;
}

.port-box {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: gray;
    display: flex;
    grid-template-columns: 1fr auto;
    align-items: center;
    border: 2px solid var(--hover-color);
    box-shadow: var(--neon-box-shadow);
}

.port-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.port-img img {
    width: 100%;
    height: 100%;
    opacity: .5s;
    transition: .5s;
}

.port-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(rgba(0, 0, 0, .4), #253bff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-shadow: var(--neon-box-shadow);
    transition: 0.5s;
    padding: 0 2rem;
}

.port-box:hover .port-content {
    opacity: 1;
}

.port-box:hover .port-img img {
    transform: scale(1.1);
}

.port-content h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.port-content p {
    font-size: .8rem;
    margin: 15px 0 15px 0;
}

.port-content a {
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--hover-color);
    outline: 2px solid #fff;
    align-items: center;
}

.port-content a i {
    font-size: 1.3rem;
    color: var(--secon-bg-color);
    justify-content: center;
    align-items: center;
}



/* Contact section css ----------------- */

.contact {
    background: var(--secon-bg-color);
    width: 100%;
}

.contact form {
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

.contact form input,
.contact form textarea {
    width: 100%;
    color: var(--text-color);
    margin-bottom: .8rem;
    border: none;
    border-radius: 5px;
    padding: .7rem;
    background: #250325;
}

.contact form textarea {
    resize: none;
}

.formbtn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.formbtn .btn {
    cursor: pointer;
    font-size: 1rem;
}


/* footer section css */
footer {
    padding: 1.5rem 10%;
    display: flex;
    background-color: rgb(24, 17, 17);
    align-items: center;
    justify-content: space-between;
}

footer p {
    color: rgb(180, 140, 8);
}

footer a {
    display: inline-flex;
    justify-content: center;
    color: var(--text-color);
    background: var(--hover-color);
    padding: .6rem;
    border-radius: 5px;
}

footer a i {
    font-size: 1rem;
    color: var(--secon-bg-color);
}





/* morph keyframes ----------------- */

@keyframes morph {

    0%,
    100% {
        border-radius: 35% 50% 60% 39% / 30% 69% 43% 93%;
    }

    30% {
        border-radius: 69% 39% 95% 30% / 77% 89% 95% 50%;
    }

    60% {
        border-radius: 99% 35% 45% 60% / 97% 59% 35% 90%;
    }

    80% {
        border-radius: 29% 89% 75% 20% / 77% 99% 65% 30%;
    }

    100% {
        border-radius: 100% 55% 80% 60% / 80% 80% 90% 100%;
    }
}


/* bar keyframes ----------------- */

@keyframes html {
    0% {
        width: 0%
    }

    100% {
        width: 98%;
    }
}

@keyframes css {
    0% {
        width: 0%
    }

    100% {
        width: 87%;
    }
}

@keyframes js {
    0% {
        width: 0%
    }

    100% {
        width: 90%;
    }
}

@keyframes figma {
    0% {
        width: 0%
    }

    100% {
        width: 95%;
    }
}

@keyframes react {
    0% {
        width: 0%
    }

    100% {
        width: 89%;
    }
}

@keyframes py {
    0% {
        width: 0%
    }

    100% {
        width: 78%;
    }
}

/* break points */
@media(max-width:991px){
    header,
    header.sticky{
        padding: 15px 5%;       
    }
    footer{
        padding: 15px 5%;
    }

    section{
        padding: 50px 5%;
    }
    .navlist a{
        padding: 8px 15px;
    }
    :root {
        --big-font: 2.2rem;
        --normal-font: 1.8rem;
        --neon-box-shadow: 0 0 .8rem rgb(244, 247, 66);
        --h2-font: 3rem;
    }
    
    .home-content{
        margin-top: 3rem;
    }
    
    .social-icon{
        margin-top: 2rem;
    }
    
    .home-content p {
        margin-top: 1.5px;
    }
    
    .info-box{
        margin: 0.5rem 0 0.5rem;
    }
}

@media(max-width:768px) {
    #menu-icon{
        display: block;
        transition: all .4s ease;
    }
}

