@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

:root {
    --text-color: #e5f0df;
    --hover-color: #d7eb26;
    --bg-color: #8b0f06;
    --secon-bg-color: rgb(54, 4, 110);
    --big-font: 3.5rem;
    --normal-font: 2rem;
    --neon-box-shadow: 0 0 .5rem rgb(244, 247, 66);
    --h2-font: 3rem;
    --font-neon-text-shadow: 0 0 10px rgba(10, 245, 255, 0.3),
        0 0 20px rgba(10, 245, 255, 0.3),
        0 0 30px rgba(10, 245, 255, 0.3),
        0 0 40px rgba(10, 245, 255, 0.3),
        0 0 70px rgba(10, 245, 255, 0.3),
        0 0 90px rgba(10, 245, 255, 0.3),
        0 0 100px rgba(10, 245, 255, 0.3),
        0 0 150px rgba(10, 245, 255, 0.3);
}

::-webkit-scrollbar {
    height: 0;
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: var(--secon-bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--hover-color);
    border-radius: 8rem;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.main-section{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: .1rem solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 10%;
}

header.sticky{
    background: rgba(137, 43, 226, 0.171);
    border-bottom: .1rem solid yellow;
}

.logo {
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 700;
    /* text-align: center; */
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--text-color);
    font-weight: 500;
    padding: 1rem 2rem;
    
}

.navlist a:hover {
    color: red;
    box-shadow: 2px 2px 10px rgba(253, 237, 14, 0.9),
        0 0 20px rgba(253, 237, 14, 0.902),
        0 0 40px rgba(253, 237, 14, 0.9),
        0 0 30px rgba(253, 237, 14, 0.9),
        0 0 70px rgba(253, 237, 14, 0.9),
        0 0 90px rgba(253, 237, 14, 0.9),
        0 0 100px rgba(253, 237, 14, 0.9),
        0 0 150px rgba(253, 237, 14, 0.9);
}

.navlist a.active {
    color: var(--hover-color);
    text-decoration: underline;
    font-weight: 700;
}

span {
    color: var(--hover-color);
    font-size: var(--big-font);
}

#menu-icon {
    font-size: 1.8rem;
    z-index: 999;
    cursor: pointer;
    background: var(--hover-color);
    border-radius: .3rem;
    color: var(--secon-bg-color);
    display: none;
}


/* home section --------------------- */
section {
    padding: 10rem 10%;
}

.home {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 4rem;
}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    font-size: var(--big-font);
    font-weight: 800;
}

.change-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.change-text h3 {
    display: inline-flex;
    margin-bottom: 0;
    margin-left: .1rem;
    vertical-align: top;
    font-weight: 700;
    font-size: 2.2rem;
}

.change-text h3 .word {
    position: absolute;
    display: flex;
    opacity: 0;
}
/* updown change text  */
.change-text h3 .word .letter {
    transform-origin: center center 25px;
}

.change-text h3 .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.change-text h3 .word .letter.in {
    transition: 0.38s ease;
}

.change-text h3 .word .letter.behind {
    transform: rotateX(-90deg);
}

.home-content p {
    color: #946b8e;
    line-height: 1.6;
    margin-top: .5rem;
    font-size: small;
}

.info-box {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 32rem;
    margin: 1rem 0 2rem;
}

.info-box h5 {
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
}

.info-box span{
    font-size: 1rem;
}

.info-box p {
    font-size: 2.3rem;
    color: var(--hover-color);
}

.btn-box {
    display: flex;
    justify-content: space-between;
    width: 32rem;
    height: 4.5rem;
}

.btn-box .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--hover-color);
    color: var(--bg-color);
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: .2rem solid red;
}

.btn:hover {
    color: var(--hover-color);
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .3s;
}

.btn:hover::before {
    width: 100%;
}

.btn:nth-child(2) {
    background: var(--bg-color);
    color: var(--hover-color);
}

.btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn:nth-child(2)::before {
    background: var(--hover-color);
}

.social-icon {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    width: 32rem;
    height: 4rem;
}

.social-icon a {
    display: inline-flex;
    width: 5rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    color: var(--hover-color);
    border: .3rem solid var(--hover-color);
    transition: .6s;
    box-shadow: 0 0 0.5rem #0ff8f8;
    border-radius: .8rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.social-icon a i {
    font-size: 2rem;
}

.social-icon a:hover {
    color: red;
    background: rgb(24, 19, 11);
    box-shadow: .2rem .2rem 1rem rgba(253, 237, 14, 0.9),
        0 0 20px rgba(253, 237, 14, 0.902),
        0 0 40px rgba(253, 237, 14, 0.9),
        0 0 30px rgba(253, 237, 14, 0.9),
        0 0 70px rgba(253, 237, 14, 0.9),
        0 0 90px rgba(253, 237, 14, 0.9),
        0 0 100px rgba(253, 237, 14, 0.9),
        0 0 150px rgba(253, 237, 14, 0.9);
    border: .2rem solid red;
}
/* new added if not working good then remove */
/* .social-icon a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--hover-color);
    transition: .6s;
    z-index: -2;
} */

.social-icons a:hover::before{
    width: 100%;
    
}

.home-img {
    position: relative;
}

.img-box {
    text-align: center;
}

.img-box img {
    width: 100%;
    max-width:45rem;
    margin-top: 5rem;
    height: auto;
}

.liquade-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 10%;
}

.liquade-shape:nth-child(2) {
    filter: blur(5rem);
}

/* about section css ----------------- */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 18em;
    background: var(--secon-bg-color);
    /* min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 40rem; */
}

.about .img-about {
    text-align: center;
    position: relative;
}

.about .img-about img {
    max-width: 40rem;
    height: auto;
    margin-top: 3rem;
}

/* .about-content span {
    color: rgb(247, 250, 69);
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: .2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
} */

.about-content h2 {
    color: var(--hover-color);
    font-weight: 700;
    font-size: var(--normal-font);
}

.about-content h3 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: .2rem;
}

.about-content p {
    color: #fdfdfd;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.info-about1,
.info-about2,
.info-about3 {
    background: var(--bg-color);
    font-size: 1rem;
    position: absolute;
    padding: 2.8rem;
    width: 9rem;
    height: 9rem;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 70% 31% 66% 34% / 21% 30% 70% 80%;
    display: block;
    box-shadow: var(--neon-box-shadow);
    border: .2rem solid var(--hover-color);
    outline: .3rem solid rgb(241, 226, 177);
    outline-offset: .2rem;
    z-index: 100;
    animation: morph 5s linear infinite;

}

.info-about1 {
    left: 10%;
    top: 34%;
}

.info-about2 {
    left: 66%;
    top: 15%;
}

.info-about3 {
    left: 61%;
    top: 71%;
}

.img-about span {
    color: var(--big-font);
}

/* services section css ----------------- */
/* .services{
    background: rgb(67, 167, 185);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 40rem;
} */

.main-text {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--hover-color);
}

.main-text h2 {
    font-weight: 700;
    font-size: var(--normal-font);
}

.main-text span {
    color: rgb(229, 233, 14);
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.section-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 2rem;
}

.section-services .service-box {
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: var(--secon-bg-color);
    translate: transform .4s;
    border-radius: 1rem;
}

.service-btn {
    width: auto;
    justify-content: center;
}

.service-box:hover {
    transform: translateY(-.7rem);
}

.service-icon {
    border: .2rem solid var(--hover-color);
    padding: 2rem;
    background: var(--bg-color);
    /* display: flex; */
    align-items: center;
    font-size: 4rem;
    border-radius: 50%;
    position: relative;
    color: var(--hover-color);
    box-shadow: var(--neon-box-shadow);
    outline: 3px solid var(--bg-color);
}

.service-box h3 {
    margin-top: 1rem;
    font-size: 1.7rem;
}

.service-box p {
    margin: .5rem 0 1.5rem 0;
    font-weight: 300;
    letter-spacing: .1rem;
    color: burlywood;
    line-height: 1.6;
}



/* skills section css ----------------- */
.skills {
    background: var(--secon-bg-color);
    align-items: center;
    justify-content: center;
    /* min-height: 100vh;
    height: 100%;
    width: 100%;
    align-items: center;
    grid-gap: 40rem; */
}

.skill-main {
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap: 5rem; */
}

.skill-bar {
    margin-bottom: 2.3rem;
}

.skill-main h3 {
    margin-bottom: 2rem;
    font-size: var(--normal-font);
    text-align: center;
}

.skill-left .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.skill-left .skill-bar .bar {
    width: 100%;
    height: 10px;
    background-color: var(--bg-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skill-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--hover-color);
    border-radius: 2.5rem;
    box-shadow: var(--neon-box-shadow);
}

.skill-bar .bar .html {
    width: 98%;
    animation: html 2s;
}

.skill-bar .bar .css {
    width: 87%;
    animation: css 3s;
}

.skill-bar .bar .js {
    width: 90%;
    animation: js 4s;
}

.skill-bar .bar .figma {
    width: 95%;
    animation: figma 5s;
}

.skill-bar .bar .react {
    width: 89%;
    animation: react 6s;
}

.skill-bar .bar .py {
    width: 78%;
    animation: py 6s;
}




/* portfolios section css ----------------- */
.portfolios{
    /* background: rgb(13, 112, 241); */
    min-height: 100vh;
    height: 100%;
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    grid-gap: 40rem;
}

.fillter-buttons {
    margin: 2rem;
    text-align: center;
}

.fillter-buttons .btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin-left: 1.3rem;
    color: var(--h2-font);
}

.fillter-buttons .btn:hover {
    color: var(--hover-color);
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 2rem;
}

.port-box {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: gray;
    display: flex;
    grid-template-columns: 1fr auto;
    align-items: center;
    border: 2px solid var(--hover-color);
    box-shadow: var(--neon-box-shadow);
}

.port-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.port-img img {
    width: 100%;
    height: 100%;
    opacity: .5s;
    transition: .5s;
}

.port-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(rgba(0, 0, 0, .4), #253bff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-shadow: var(--neon-box-shadow);
    transition: 0.5s;
    padding: 0 2rem;
}

.port-box:hover .port-content {
    opacity: 1;
}

.port-box:hover .port-img img {
    transform: scale(1.1);
}

.port-content h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.port-content p {
    font-size: .8rem;
    margin: 15px 0 15px 0;
}

.port-content a {
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--hover-color);
    outline: 2px solid #fff;
    align-items: center;
}

.port-content a i {
    font-size: 1.3rem;
    color: var(--secon-bg-color);
    justify-content: center;
    align-items: center;
}



/* Contact section css ----------------- */

.contact {
    background: var(--secon-bg-color);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    grid-gap: 40rem;
}

.contact form {
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

.contact form input,
.contact form textarea {
    width: 100%;
    color: var(--text-color);
    margin-bottom: .8rem;
    border: none;
    border-radius: .5rem;
    padding: .7rem;
    background: #250325;
}

.contact form textarea {
    resize: none;
}

.formbtn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.formbtn .btn {
    cursor: pointer;
    font-size: 1rem;
}


/* footer section css */
footer {
    padding: 1.5rem 10%;
    display: flex;
    background-color: var(--bg-color);
    align-items: center;
    justify-content: space-between;
}

footer p {
    color: var(--big-font);
}

footer a {
    display: inline-flex;
    justify-content: center;
    color: var(--text-color);
    background: var(--hover-color);
    padding: .6rem;
    border-radius: .5rem;
}

footer a i {
    font-size: 1rem;
    color: var(--secon-bg-color);
}





/* morph keyframes ----------------- */

@keyframes morph {

    0%,
    100% {
        border-radius: 40% 60% 70%  30% / 40% 40% 60% 50%;
    }

    30% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    60% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }

    80% {
        border-radius: 29% 89% 75% 20% / 77% 99% 65% 30%;
    }

    100% {
        border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    }
}


/* bar keyframes ----------------- */

@keyframes html {
    0% {
        width: 0%
    }

    100% {
        width: 98%;
    }
}

@keyframes css {
    0% {
        width: 0%
    }

    100% {
        width: 87%;
    }
}

@keyframes js {
    0% {
        width: 0%
    }

    100% {
        width: 90%;
    }
}

@keyframes figma {
    0% {
        width: 0%
    }

    100% {
        width: 95%;
    }
}

@keyframes react {
    0% {
        width: 0%
    }

    100% {
        width: 89%;
    }
}

@keyframes py {
    0% {
        width: 0%
    }

    100% {
        width: 78%;
    }
}




/* break points */

@media(max-width:992px){
    

    .main-section{
        width: 100%;
    }

    header,
    header.sticky{
        padding: 15px 5%;
    }

    footer{
        padding: 15px 5%;
    }

    section{
        padding: 50px 5%;
    }

    .navlist a{
        padding: 8px 15px;
    }

    :root {
        --big-font: 2.2rem;
        --normal-font: 1.8rem;
        --neon-box-shadow: 0 0 .8rem rgb(244, 247, 66);
        --h2-font: 3rem;
    }

    .home-content{
        margin-top: 1rem;
    }
    

    /*.navlist.open{
        top: 100%;
    }*/
}


@media(max-width:900px){
    html{
        font-size: 55%;
    }
}


@media(max-width:768px){

    /* responsive menu */
    #menu-icon{
        display: block;
        transition: all .5s ease;
        font-size: large;
    }

    #menu-icon.bx-x{
        transform: rotate(-180deg);
        
    }

    .navlist{
        display: flex;
        position: absolute;
        top: -100rem;
        right: 0;
        left: 0;
        flex-direction: column;
        background: #25032586;
        text-align: center;
        padding: 3%;
        transition: all .6s ease;
    }

    .navlist a{
        display: block;
        padding-bottom: .2rem;
        font-size: medium;
    }

    .navlist.open{
        top: 100%;
    }

    .info-about1, .info-about2, .info-about3{
        height: auto;
    }

    .info-about1 {
        left: 5%;
        top: 40%;
    }
    
    .info-about2 {
        left: 70%;
        top: 20%;
    }
    
    .info-about3 {
        left: 61%;
        top: 71%;
    }
    
}

@media(max-width:720px){
    .home{
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
    .home-content{
        margin-top: 4rem;
    }

    .about{
        flex-direction: column-reverse;
        grid-gap: 5em;
    }
    
}

@media(max-width:399px){
    html{
        font-size: 50%;
    }
    .main-section{
        width: 100%;
    }    
}
    
    

